<style>
  section.style-2 {
    background-color: #f7f5f2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-style: solid none;
  }

  .blog-site {
    padding: 50px 0;
  }

  .blog-site.row {
    padding: 0;
    margin: 0;
  }

  .blog-site .section-heading {
    padding-bottom: 28px;
    font-family: monospace;
  }

  .blog-site .posts article {
    padding-bottom: 20px;
  }
</style>
<section class="style-2">
  <div class="container blog-site">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading text-center">Always fresh, don't miss it</h2>
      </div>
      <div class="posts row">
        <article class="col-md-4 col-sm-6">
          <div class="view overlay zoom">
            <img src="../../assets/img/recent-post-1.jpg" class="img-fluid " alt="smaple image">
            <div class="mask flex-center">
              <p class="white-text">fresh salad for a hot summer</p>
            </div>
          </div>
        </article>
        <article class="col-md-4 col-sm-6">
          <div class="view overlay">
            <img src="../../assets/img/recent-post-2.jpg" class="img-fluid " alt="smaple image">
            <div class="mask flex-center rgba-green-slight">
              <p class="white-text">fresh salad for a hot summer</p>
            </div>
          </div>
        </article>
        <article class="col-md-4 col-sm-6">
          <div class="view overlay zoom">
            <img src="../../assets/img/recent-post-3.jpg" class="img-fluid " alt="smaple image">
            <div class="mask flex-center">
              <p class="white-text">fresh salad for a hot summer</p>
            </div>
          </div>
        </article>
        <article class="col-md-4 col-sm-6">
          <div class="view overlay">
            <img src="../../assets/img/recent-post-7.jpg" class="img-fluid " alt="smaple image">
            <div class="mask flex-center rgba-green-slight">
              <p class="white-text">fresh salad for a hot summer</p>
            </div>
          </div>
        </article>
        <article class="col-md-4 col-sm-6">
          <div class="view overlay zoom">
            <img src="../../assets/img/recent-post-5.jpg" class="img-fluid " alt="smaple image">
            <div class="mask flex-center">
              <p class="white-text">fresh salad for a hot summer</p>
            </div>
          </div>
        </article>
        <article class="col-md-4 col-sm-6">
          <div class="view overlay">
            <img src="../../assets/img/recent-post-6.jpg" class="img-fluid " alt="smaple image">
            <div class="mask flex-center rgba-green-slight">
              <p class="white-text">fresh salad for a hot summer</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
