<style>
  section.contact {
    background-color: #f7f5f2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-style: solid none;
    padding: 82px 0;
  }
  .contact .section-heading {
    padding-bottom: 50px;
  }
  .contact-info {
    font-family: none;
    font-size: 14px;
    list-style: none;
    margin: 30px 0;
    padding: 0;
  }
  .contact-info li {
    margin-bottom: 5px;
  }
  .contact-info i {
    color: #ff9c00;
    width: 25px;
  }
  .contact-info li a{
    color: #c49b63;
  }
  .contact .contact-header{
    font-family: none;
    margin: 0 0 10px;
    font-size: 14px;
  }
  input, textarea{
    font-family: none;
    background-color: #f2eee9;
    border: 1px solid #dfd7cc;
    border-radius: 1px;
    color: #a59887;
    height: 41px;
    font-size: 17px;
    max-width: 100%;
    padding: 7px 18px;
    vertical-align: middle;
    width: 100%;
    -moz-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
</style>
<section class="contact style-2" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-heading text-center">contact us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>contact details</h3>
        <p class="contact-header">Dont be shy do contact us about everything and anything, we will be glad to answer your questions about
          kataleya.</p>
        <ul class="contact-info">
          <li><i class="fa fa-home"></i>51/39, Đường số 10, phường Linh Chiểu, Quận Thủ Đức</li>
          <li><i class="fa fa-phone"></i>Phone: +84337 011 110</li>
          <li><i class="fa fa-print"></i>Fax: +386 10 555 66677</li>
          <li><i class="fa fa-envelope"></i>Email: <a href="mailto:thecaketea@gmail.com">thecaketea@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <form role="form" class="contact-form">
          <div class="form-group">
            <input type="email" placeholder="e-mail" required />
          </div>
          <div class="form-group">
            <input type="tel" placeholder="phone" required />
          </div>
          <div class="form-group">
            <textarea type="text" placeholder="message" required rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-md">submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
