<!-- <div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">Chet Faker</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          "I like the way you work it
          <br> No diggity
          <br> I wanna bag it up"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Files</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>2GB
                <br>
                <small>Used</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24,6$
                <br>
                <small>Spent</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Company (disabled)</label>
                <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username" value="michael23">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Company" value="Chet">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" value="Faker">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" value="Melbourne">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Country" value="Australia">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Postal Code</label>
                <input type="number" class="form-control" placeholder="ZIP Code">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<style>
  a.deleteBlog {
    position: absolute;
    right: 17px;
    top: 7px;
    font-size: 18px;
}
</style>
<div class="card card-user">
  <div class="card-body">
    <form style="padding-top: 10px;">
      <a class="deleteBlog"><i class="fas fa-times"></i></a>
      <div class="row">
        <div class="col-md-4">
          <img src="../assets/img/blog/recent-post-1.jpg" style="width:100%;display:block; padding-bottom: 15px;" />
          <!-- <mdb-file-upload (fileRemoved)="onFileRemove()" (fileAdded)="onFileAdd($event)"></mdb-file-upload> -->
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" value="HUMMINGBIRD CAFE SAIGON ">
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" placeholder="Author" value="michael23">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Content</label>
                <textarea class="form-control textarea" style="height: 150px;max-height: 150px;">Sài Gòn ngày giáp Tết, tranh thủ đi về trong ngày để làm bữa cơm tất niên cho nhân viên của văn phòng tại đây, và khi còn một chút thời gian ít ỏi của buổi chiều thì tôi tranh thủ đi ra Hummingbird Coffee, một quán rất mới và chất như lời ông em Minh Nguyen recommend. Giữa cái phố xá đông đúc, chui vào trong con ngõ nhỏ, lần mò theo những bậc thang gỗ đã cũ cùng năm tháng, và rồi một không gian tách biệt, ấm cúng hiện ra. Sài Gòn thật tuyệt, lúc nào cũng nhiều bất ngờ.
                  Bước vào bên trong quán, bạn sẽ không tránh khỏi sự bất ngờ vì không gian tại đây. Quán không quá rộng, cũng không chật chội và cách bố trí hợp lý tạo ra độ thoáng cả về khoảng không cũng như ánh sáng. Khu vực pha chế cà phê được thiết kế dọc theo bức tường chính của quán, dài, và rộng đủ cho nhiều người đứng làm việc cùng một lúc. Máy móc được trang bị đầy đủ, với những tên tuổi lớn trong ngành dụng cụ cà phê như mahlkonig grinder, mazzer grinder ZM model, v.v.. là những gì bạn có thể thấy ngay khi tiến lại gần quày gọi đồ uống. Tất cả hứa hẹn một loạt những thức uống không thể bỏ qua.
                  Như thường lệ, tôi gọi cho mình một tách cappuccino rồi bắt đầu đi lòng vòng thăm quan xung quanh. Không gian của quán nho nhỏ, nên phải làm thêm các gác lửng, nhiều phần của mái nhà sử dụng những tấm lợp hứng ánh sáng và vì vậy, những ngọn đèn bên trong chủ yếu để hắt sáng vào các tác phẩm nghệ thuật treo trên tường. Quán có gác lửng, nhưng không “tham lam” kê bàn ghế mà thay vào đó là những chiếc bàn nhỏ vừa cho 1 hoặc 2 khách ngồi. Ở góc trên cùng, có một gian phòng kính dành riêng để trưng bày các sản phẩm “art concept”. Bạn có thể thoải mái tham quan, nhưng nên tôn trọng những sắp đặt ở đây và không nên dịch chuyển vị trí của chúng.
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Blog</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
