<style>
  #sliderMenu {
    background-image: url(../../assets/img/bg_3.jpg);
    width: 100%;
    height: 862px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #sliderMenu .ftco-animate {
    margin-top: 300px;
  }

  h1.mb-4 {
    font-size: 3em;
    color: #c49b63;
    -webkit-text-stroke: 1px #fff;
  }

  /* #sliderMenu .lider-text{
      padding-top: 300px;
      text-align: center;
    } */
  #menu {
    color: #c49b63;
  }

  .menu-entry {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu-entry h4 a {
    color: #c49b63;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-size: 0.7em;
  }

  p.price span {
    color: #fff;
    font-size: 16px;
    font-family: "Bebas Neue", "Lato", sans-serif;
    font-weight: 700;
  }

  .site-menu {
    background-image: url(../../assets/img/bg_4.jpg);
    padding: 80px 0
  }

  .menu-entry {
    background-clip: border-box;
    border: 1px solid rgb(136, 128, 128);
    border-radius: 0.25rem;
  }

  .ftco-services {
    background: #c49b63;
  }

  .ftco-services img {
    width: 70px;
  }

  .media-body p {
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 15px;
  }

  .service-delivery {
    padding: 70px 0;
  }
</style>
<div id="sliderMenu" class="parallax hidden-xs">
  <div class="container">
    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
      <div class="col-md-8 col-sm-12 text-center ftco-animate">
        <h1 class="mb-4">Order Online </h1>
        <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#"
            class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
      </div>
    </div>
  </div>
</div>
  <!-- <section class="site-menu ftco-menu mb-5 pb-5 container">
    <div>
      <h2 id="menu" class="section-heading text-center">The Teacake Menu</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="All">
              <div class="row">
                <div class="col-md-3">
                  <div class="menu-entry">
                    <img href="#" class="img" src="../../assets/img/tiramisu.jpeg" />
                    <div class="text text-center pt-4">
                      <h4><a href="product-single.html">TIRAMISU CHOCOLATE</a></h4>
                      <p class="price"><span>15000 VND</span></p>
                      <button class="btn btn-primary btn-outline-primary"
                        style="font-family: sans-serif;font-size: 12px;">
                        Mua Ngay
                      </button>
                      <!-- <li><NavLink to="/order" class="btn btn-primary btn-outline-primary" style={{ color: '#c49b63', fontFamily: '"Montserrat", "Helvetica Neue", Arial, sans-serif' }}>Mua Ngay</NavLink></li> -->
                    <!-- </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Tea">Content 2</mat-tab>
            <mat-tab label="Cake">Content 3</mat-tab>
            <mat-tab label="Coffee">Content 4</mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </section> -->
<section class="ftco-section ftco-services">
  <div class="container service-delivery">
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <img src="../../assets/img/choices.png" />
          </div>
          <div class="media-body">
            <h3 class="heading">Easy to Order</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <img src="../../assets/img/truck.png" />
          </div>
          <div class="media-body">
            <h3 class="heading">Fastest Delivery</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <img src="../../assets/img/coffeebeans.png" />
          </div>
          <div class="media-body">
            <h3 class="heading">Quality Coffee</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
