<style>
  .navbar-brand img{
    width: 160px;
  }
  #navbar{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    background: cadetblue;
    box-shadow: 1px 1px 11px dimgrey;
  }

</style>
<!--Navbar-->

<mdb-navbar id="navbar" SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="true">
  <!-- <div class="container"> -->
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" [routerLink]="'/'">
      <img src="../../assets/img/logo1.png" alt="Logo">
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/home'">
           Home<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/menu'">
          Menu
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="'/blog'">
          Blog
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
           About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="#contact">
           Contact
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect rounded="true" data-toggle="modal" data-target="#basicExample"
          (click)="frame.show()" mdbWavesEffect>
             Login
          </a>
        </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
  <!-- </div> -->
</mdb-navbar>
<!--/.Navbar-->
